 <div class="user-details">
  <h1>// 3D Artist Student.</h1>
  </div>
  
  
    <div class="about-me">
     
      <p>I'm currently living in New Zealand with my lovely kiwi Girlfriend & Family, I have a weird imaginary friend named hobbs. I love d&b aswell as having a wide range of hobbies & I also enjoy the occasional Chilli burrito. I enjoy the Learning experience Thank you for your support and checking out my Blog. </p> </br> ~ "The sad Saint from the far East."</p>
    </div>

  <div class="user">
    <div class="tech">
      <h2>Projects & My Blog...</h2>
    </div>
</div>
