<div id="particles-js">
  <div class="header">

        <span class="gradient">calvin-jungle</span>
        <span class="site-description">{{site.user_title}}Welcome to my Blog!</span>

      <div class="header-icons">
        <a aria-label="Send email" href="mailto:calxen@pm.me"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/calvin_jungle"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://facebook.com/calvin.st.jungle"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://www.twitch.tv/cal_xen"><i class="icon fa fa-twitch" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://calvin-jungle.tumblr.com"><i class="icon fa fa-tumblr" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://steamcommunity.com/id/calvin_jungle"><i class="icon fa fa fa-steam" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://www.pinterest.nz/calvinjungle88"><i class="icon fa fa-pinterest" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://calxen_student.artstation.com"><i class="icon fa fa-adn" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://soundcloud.com/calvin-jungle"><i class="icon fa fa-soundcloud" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://vimeo.com/user181629854"><i class="icon fa fa-vimeo-square" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://calvinjungle.deviantart.com"><i class="icon fa fa-deviantart" aria-hidden="true"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://xubuntu.org/"><i class="icon fa fa-linux" aria-hidden="true"></i></a>

      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
