<div class="container">
    <div class="accordion">
    <dl>
        <dt><a class="accordionTitle" href="#">.: 2023 September  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Doing some gaming, playing Baldur's Gate 3.</p><img src="assets/img/work_pics/BG3_616x353.jpg" alt="calvin" style="width:616px;height:353px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 September  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Playing around with points in Nuke VFX software.</p><img src="assets/img/work_pics/nuke_points.gif" alt="calvin" style="width:640px;height:360px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 July  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>P99 Game Weapon Asset in 3Ds Max</p><img src="assets/img/work_pics/P99_output_02.gif" alt="calvin" style="width:420px;height:236px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 May  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Obtained my Python certificate at FreeCodeCamp.</p><img src="assets/img/work_pics/calxen_01.png" alt="calvin" style="width:800px;height:580px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 May  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Using AI and 3D to come up with Concepts.</p><img src="assets/img/work_pics/ai-render-CALXEN.gif" alt="calvin" style="width:500px;height:500px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 May  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Grenade in 3Ds Max.</p><img src="assets/img/work_pics/MK2_grenade.gif" alt="calvin" style="width:720px;height:405px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2023 January  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Flashbang Grenade made in Blender.</p><img src="assets/img/work_pics/flashbang_001_3.gif" alt="calvin" style="width:600px;height:450px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 August  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Fixed the malware problem, reformatted with Linux and Windows 11 dual boot, all is well.</p>
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 8 August  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Hackers have infiltrated my devices... trying to resolve the issue with them spying and corrupting project files... will be pushing on tho... I'd advice anyone to learn programming.</p>
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 August  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Updated and worked on this blog, il try to keep it updated...</p>
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 31st July  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Taking a break from C++ and 3D to work on other hobbies...</p>
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Houdini ink water effect...</p><img src="assets/img/work_pics/ink_houdini.gif" alt="calvin" style="width:600px;height:340px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2022 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Houdini Hand particle effect...</p><img src="assets/img/work_pics/houdini_particle_hand.gif" alt="calvin" style="width:600px;height:340px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2021 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Zbrush Alien Bust...</p><img src="assets/img/work_pics/calvin-student-xeeer.png" alt="calvin" style="width:600px;height:340px;">
        </dd>
        <dt><a class="accordionTitle" href="#">.: 2021 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Skin Surface Shader with SSS...</p><img src="assets/img/work_pics/calvin-student-old-man-calxen-01.png" alt="calvin" style="width:600px;height:600px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: 2021 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Hard Surface Practice "Lambo" in Maya...</p><img src="assets/img/work_pics/calvin-student-lambo-01.png" alt="calvin-lambo" style="width:600px;height:340px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: 2021 earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Learning Red Shift 3D in Maya...</p><img src="assets/img/work_pics/calvin-student-gto.jpg" alt="calvin" style="width:600px;height:340px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Spheres</p><img src="assets/img/work_pics/spheres.jpg" alt="calvin" style="width:800px;height:800px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Pistola</p><img src="assets/img/work_pics/Pistola.jpg" alt="calvin" style="width:600px;height:360px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Wanderer</p><img src="assets/img/work_pics/wanderer_001.jpg" alt="calvin" style="width:800px;height:450px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>sci-fi sky</p><img src="assets/img/work_pics/sci_fiction_sky_by_jungle.jpg" alt="calvin" style="width:880px;height:400px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Haunted House Painting.</p><img src="assets/img/work_pics/haunted_house.jpg" alt="calvin" style="width:800px;height:520px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Abstract Poster in illustrator.</p><img src="assets/img/work_pics/abstract_001.png" alt="calvin" style="width:720px;height:940px;">
        </dd>
        <dt><a href="#" class="accordionTitle">.: earlier  ... </a></dt>
        <dd class="accordionItem accordionItemCollapsed">
          <p>Camera Texture Projection.</p><img src="assets/img/work_pics/pic01.jpg" alt="calvin" style="width:504px;height:277px;">
        </dd>
      </dl>
    </div>
</div>
